@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
    font-family: 'Roboto', sans-serif;
    --primary-color: #1a73e8;
    /* --bs-primary-rgb: 26, 115, 232; */
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
}

#app {
    width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.menu-nav-link {
    text-decoration: none;
    text-transform: uppercase;
}

.main-section {
    margin-bottom: 50px;

    @media (min-width: 992px) {
        margin-bottom: 200px;
    }
}

.scrollable-content::-webkit-scrollbar {
    display: none;
  }

.heading-title {
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
}

.animation-image {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translate3d(0, 20px, 0);
}

.animation-image:nth-child(1) {
    transition-delay: 0.1s;
}

.animation-image:nth-child(2) {
    transition-delay: 0.2s;
}

.animation-image:nth-child(3) {
    transition-delay: 0.3s;
}

.animation-image:nth-child(4) {
    transition-delay: 0.4s;
}

.animation-image:nth-child(5) {
    transition-delay: 0.5s;
}

.animation-image:nth-child(6) {
    transition-delay: 0.6s;
}

.animation-image:nth-child(7) {
    transition-delay: 0.7s;
}

.animation-image:nth-child(8) {
    transition-delay: 0.8s;
}

.animation-image:nth-child(9) {
    transition-delay: 0.9s;
}

.animation-image:nth-child(10) {
    transition-delay: 1s;
}

.animation-image.animation-image--active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}